{% extends 'layouts/head.twig' %}
{% block content %}
    <section id="content" class="table-layout animated fadeIn borderedBackground">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-11 center-block">
                    <p><strong>2.2.1 External Environment Monitoring Functional Test</strong></p>
                </div>
            </div>
            <div class="padding:30px 10px 10px 10px;background-color: #fff;margin-top: 10px;border:6px solid rgba(204, 204, 204,0.5)">
                <div class="panel panel-visible" id="spy2">
                    <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>SITE: 8603_KARANG BARU</th>
                                <th>SITE CONFIG:</th>
                                <th>DATE:</th>
                            </tr>
                            <tr>
                                <th>External Alarm number</th>
                                <th>External Alarm Port No.in EMUA</th>
                                <th>External Alarm ID in M2000</th>
                                <th>External Alarm number Name</th>
                                <th>Severity</th>
                                <th>Polarity Valid Level</th>
                                <th>Pass</th>
                                <th>Fail</th>
                                <th>N/A</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>65033</td>
                                <td>L1</td>
                                <td></td>
                                <td>Open</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2</td>
                                <td>65035</td>
                                <td>L2</td>
                                <td></td>
                                <td>Open</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>3</td>
                                <td>65037</td>
                                <td>L3</td>
                                <td></td>
                                <td>Open</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>4</td>
                                <td>65039</td>
                                <td>MSP Fail</td>
                                <td></td>
                                <td>Open</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr>
                                <td>5</td>
                                <td>5</td>
                                <td>65041</td>
                                <td>DC Alarm Fan</td>
                                <td></td>
                                <td>Open</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>6</td>
                                <td>65043</td>
                                <td>AC Remove</td>
                                <td></td>
                                <td>Open</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>7</td>
                                <td>65045</td>
                                <td>Genset Running</td>
                                <td></td>
                                <td>Open</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>8</td>
                                <td>65047</td>
                                <td>Genset Failed</td>
                                <td></td>
                                <td>Open</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>9</td>
                                <td>65049</td>
                                <td>Rectifler Fail</td>
                                <td></td>
                                <td>Open</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>10</td>
                                <td>65053</td>
                                <td>Rectifler high</td>
                                <td></td>
                                <td>Open</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>11</td>
                                <td>65051</td>
                                <td>Rectifler low</td>
                                <td></td>
                                <td>Open</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>12</td>
                                <td>65055</td>
                                <td>Fence Break</td>
                                <td></td>
                                <td>Open</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>13</td>
                                <td>65057</td>
                                <td>Battery Low</td>
                                <td></td>
                                <td>Open</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>14</td>
                                <td>65059</td>
                                <td>Grounding Cut</td>
                                <td></td>
                                <td>Open</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>15</td>
                                <td>65060</td>
                                <td>Door Open BTS</td>
                                <td></td>
                                <td>Open</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>16</td>
                                <td>65062</td>
                                <td>Door Open Shelter</td>
                                <td></td>
                                <td>Open</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>19</td>
                                <td>65066</td>
                                <td>Rectifler Door open</td>
                                <td></td>
                                <td>Open</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>25671</td>
                                <td>Smoke</td>
                                <td></td>
                                <td>Open</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>25670</td>
                                <td>Water</td>
                                <td></td>
                                <td>Open</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>65054</td>
                                <td>High Temp Humidity</td>
                                <td></td>
                                <td>Open</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}