{% extends 'layouts/head.twig' %}
{% block content %}
    <section id="content" class="table-layout animated fadeIn borderedBackground">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-11 center-block">
                    <p><strong>2.1.2 Outdoor Installation Checklist</strong></p>
                </div>
            </div>
            <div class="padding:30px 10px 10px 10px;background-color: #fff;margin-top: 10px;border:6px solid rgba(204, 204, 204,0.5)">
                <div class="panel panel-visible" id="spy2">
                    <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <p>SITE:8603_KARANG BARU</p>
                        </div>
                        <div class="col-md-4">
                            <p>SITE CONFIG:</p>
                        </div>
                        <div class="col-md-4">
                            <p>DATE:</p>
                        </div>
                    </div>
                        <div class="col-md-12 text-center">
                            <p><strong>Equipment overall condition</strong></p>
                        </div>
                        <thead>
                        <tr>
                            <th colspan="2" style="text-align:center">Procedure</th>
                            <th>Pass</th>
                            <th>Fail</th>
                            <th>N/A</th>
                            <th>Remark</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>21</td>
                                <td>Visually the antennas and feeders for any installation damage</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>22</td>
                                <td>Check that the correct type of antenna has been installed</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Remarks</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th colspan="6" style="text-align:center;">Feeders</th>
                            </tr>
                            <tr>
                                <th colspan="2" style="text-align: center">Procedure</th>
                                <th>Pass</th>
                                <th>Fail</th>
                                <th>N/A</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>23</td>
                                <td>Check that the banding radius of all feeders is greater than 20 x </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>24</td>
                                <td>Check that outdoor feeder labeling is correct at the top and the bottom of the tower</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>25</td>
                                <td>Check that all top jumpers to antenna connections are tight</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Remarks</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th colspan="6" style="text-align: center;">Connectors</th>
                            </tr>
                            <tr>
                                <th colspan="2" style="text-align: center">Procedure</th>
                                <th>Pass</th>
                                <th>Fail</th>
                                <th>N/A</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>26</td>
                                <td>Check that all top feeder connectors are tight</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>27</td>
                                <td>Check that all top feeders to jumper connections are tight</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>28</td>
                                <td>Check that all top jumpers to antenna connections are tight</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Remarks</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th colspan="6" style="text-align: center">Weather sealing</th>
                            </tr>
                            <tr>
                                <th colspan="2" style="text-align: center">Procedure</th>
                                <th>Pass</th>
                                <th>Fail</th>
                                <th>N/A</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>29</td>
                                <td>Check all top grounding kits are weather-sealed correctly</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>30</td>
                                <td>Check all feeders to jumper connections are weather-sealed correctly</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>31</td>
                                <td>Check all jumpers to antenna connections are weather-sealed correctly</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Remarks</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th colspan="6" style="text-align: center;">Antenna Stellwork</th>
                            </tr>
                            <tr>
                                <th colspan="2" style="text-align: center;">Procedure</th>
                                <th>Pass</th>
                                <th>Fail</th>
                                <th>N/A</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>32</td>
                                <td>Check that the antenna suporting steelwork is correctly installed</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>33</td>
                                <td>Check all antenna mounting clamps and brackets have been tightened</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Remarks</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th colspan="6" style="text-align: center;">Antenna Installation Check</th>
                            </tr>
                            <tr>
                                <th colspan="2" style="text-align: center;">Procedure</th>
                                <th>Pass</th>
                                <th>Fail</th>
                                <th>N/A</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>34</td>
                                <td>Check that the antennas are mounted at the correct height</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>35</td>
                                <td>Check that the direction of all antennas in all sectors is correct</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Remarks</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th colspan="4" style="text-align:center;">Antenna Installation Date</th>
                            </tr>
                            <tr>
                                <th>Antenna</th>
                                <th>Sector 1</th>
                                <th>Sector 2</th>
                                <th>Sector 3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Height</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Direction</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Downtiit M/E</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Remarks</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th colspan="6" style="text-align:center;">Outdoor Site Documentation</th>
                            </tr>
                            <tr>
                                <th colspan="2" style="text-align: center;">Procedure</th>
                                <th>Pass</th>
                                <th>Fail</th>
                                <th>N/A</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>36</td>
                                <td>Check that the antenna layout is according to the site drawing</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>37</td>
                                <td>Check that the feeder cable ladder is installed as per the site drawing</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>38</td>
                                <td>Check that the feeder gland plate is installed as per the site drawing(applicable for Indoor Equipment)</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Remarks</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>
{% endblock %}