{% extends 'layouts/head.twig' %}
{% block content %}
    <section id="content" class="table-layout animated fadeIn borderedBackground">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-11 center-block">
                    <p><strong>2.5 Basic Service Items</strong></p>
                </div>
            </div>
            <div class="padding:30px 10px 10px 10px;background-color: #fff;margin-top: 10px;border:6px solid rgba(204, 204, 204,0.5)">
                <div class="panel panel-visible" id="spy2">
                    <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>SITE: B603_KARANG BARU</th>
                                <th>SITE CONFIG:</th>
                                <th>DATE:</th>
                            </tr>
                            <tr>
                                <th>Basic Service Test</th>
                            </tr>
                            <tr>
                                <th>Cell No.</th>
                                <th>Test Item</th>
                                <th>Pass</th>
                                <th>Fail</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="4"> Cell 1</td>
                                <td>Incoming Call</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Outgoing Call</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>SMS</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>GPRS</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td rowspan="4">Cell 2</td>
                                <td>Incoming Call</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Outgoing Call</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            <tr>
                                <td>SMS</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>GPRS</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            <tr>
                                <td rowspan="4">Cell 3</td>
                                <td>Incoming Call</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Outgoing Call</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>SMS</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>GPRS</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>
{% endblock %}